[submodule "hugo-universal-theme"]
	path = hugo-universal-theme
	url = https://github.com/devcows/hugo-universal-theme
[submodule "themes/hugo-universal-theme"]
	path = themes/hugo-universal-theme
	url = https://github.com/devcows/hugo-universal-theme
[submodule "public"]
	path = public
	url = https://github.com/jdleep/jdleep.github.io.git
	branch = master
